In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd
import pickle

In [ ]:
model = load_model('model.h5')

with open('label_encoder.pkl','rb') as file:
    label_encoder = pickle.load(file)

with open('one_hot_encoderv2.pkl','rb') as file:
    one_hot_encoder = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [50]:
input_data= {
'CreditScore' :600,
'Geography': 'France',
'Gender': 'Male',
'Age': 40,
'Tenure': 3,
'Balance': 6000,
'NumOfProducts': 2,
'HasCrCard': 1,
'IsActiveMember': 1,
'EstimatedSalary': 50000
}

In [61]:
OneHotGeo = one_hot_encoder.transform([[input_data['Geography']]]).toarray()
OneHotGeo_df = pd.DataFrame(OneHotGeo,columns=one_hot_encoder.get_feature_names_out(['Geography']))
#OneHotGeo_df= pd.DataFrame(OneHotGeo)
#OneHotGeo= OneHotGeo.get_feature_names_out(['Geography'])
OneHotGeo_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [52]:
input_df= pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,6000,2,1,1,50000

In [54]:
input_df['Gender']= label_encoder.transform(input_df['Gender'])

input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,6000,2,1,1,50000

In [55]:
input_df= pd.concat([input_df.drop('Geography',axis=1),OneHotGeo_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,6000,2,1,1,50000,1.0,0.0,0.0

In [48]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,Numberofproducts,HasCreditCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,6000,2,1,1,50000,1.0,0.0,0.0

In [57]:
scaler_df= scaler.transform(input_df)
scaler_df

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -1.12240462,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [58]:
prediction= model.predict(scaler_df)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 146ms/step

array([[0.00334818]], dtype=float32)

In [60]:
prediction_prob= prediction[0,0]
prediction_prob

0.0033481754